.{
    box-sizing: border-box;
}
body{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.gallery{
    text-align: center;
    padding: 32px;
}
.btg{
    border: none;
    outline: none;
    background: #f1f1f1;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover{
    background-color: #ddd;
}
.btn.active{
    background-color: #666;
    color: white; 
}
.raw-g{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column-g{
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
}
.column-g img{
    margin-top: 8px;
    vertical-align:middle;
}
.text-gallery{
    margin-top: 60px;
}